body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f3f3;
}
.progress-bar-container {
  width: 80%;
  height: 30px;
  background-color: #ed0d0d;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar {
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  transition: width 0.4s ease-in-out;
}

.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

.percentage {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}